In [1]:
import pandas as pd
import numpy as np

In [2]:
m1 = pd.read_csv('C:\\Users\\vitan\\Desktop\\18fall\\9443\\model1.csv')
m2 = pd.read_csv('C:\\Users\\vitan\\Desktop\\18fall\\9443\\model2.csv')
m3 = pd.read_csv('C:\\Users\\vitan\\Desktop\\18fall\\9443\\model3.csv')
m4 = pd.read_csv('C:\\Users\\vitan\\Desktop\\18fall\\9443\\model4.csv')

In [3]:
m4

           BYGRADS     Coef.  Std. Err.       t    P>t  [95% Conf.  Interval]
0         computer  0.101405  0.0144407    7.02  0.000    0.073099   0.129711
1    computer_miss -0.030596  0.0417505   -0.73  0.464   -0.112434   0.051242
2         nomwoven  0.017039  0.0191809    0.89  0.374   -0.020559   0.054637
3      mwoven_miss  0.000000  (omitted)     NaN    NaN         NaN        NaN
4           nocdry  0.005492  0.0236224    0.23  0.816   -0.040812   0.051796
5        cdry_miss -0.248814  0.0584842   -4.25  0.000   -0.363453  -0.134175
6             male -0.153691   0.013128  -11.71  0.000   -0.179424  -0.127957
7      gender_miss  0.099754    0.06524    1.53  0.126   -0.028128   0.227635
8            black -0.101218  0.0234932   -4.31  0.000   -0.147268  -0.055167
9              api  0.262091  0.0266374    9.84  0.000    0.209877   0.314304
10            hisp -0.042754  0.0219567   -1.95  0.052   -0.085793   0.000285
11           amind -0.270857  0.0358442   -7.56  0.000   -0.341118  -0.200596
12       race_miss -0.101450  0.0872146   -1.16  0.245   -0.272406   0.069505
13    race_unknown -0.244471  0.1009316   -2.42  0.015   -0.442314  -0.046627
14       income10k -0.184352  0.0277403   -6.65  0.000   -0.238728  -0.129976
15       income20k -0.082909  0.0224427   -3.69  0.000   -0.126901  -0.038918
16       income50k  0.065707  0.0196652    3.34  0.001    0.027160   0.104254
17       income75k  0.108504  0.0220431    4.92  0.000    0.065296   0.151713
18      income100k  0.182416  0.0331278    5.51  0.000    0.117480   0.247353
19      income200k  0.155129  0.0335211    4.63  0.000    0.089422   0.220836
20      incomehigh  0.188518  0.0462567    4.08  0.000    0.097847   0.279189
21     income_miss -0.037940  0.0259448   -1.46  0.144   -0.088797   0.012916
22  income_unknown  0.000000  (omitted)     NaN    NaN         NaN        NaN
23              hs  0.119311  0.0222074    5.37  0.000    0.075781   0.162841
24       some_coll  0.285517  0.0245472   11.63  0.000    0.237400   0.333634
25          coll_4  0.355261  0.0268803   13.22  0.000    0.302571   0.407951
26          grad_s  0.403221  0.0295527   13.64  0.000    0.345292   0.461149
27      m_edu_miss -0.085767  0.1012834   -0.85  0.397   -0.284300   0.112766
28   m_edu_unknown  0.042085  0.0275693    1.53  0.127   -0.011956   0.096126
29           _cons  2.830365  0.0240934  117.47  0.000    2.783138   2.877592

In [4]:
variables = list(m4.BYGRADS)
names = ['Coef.', 'Std. Err.']
iterables = [variables, names]
ind = pd.MultiIndex.from_product(iterables, names=['var', 'val'])
df2 = pd.DataFrame(index=ind)
df3 = df2.reset_index()
#new var name
newvar = [df3.loc[i,'var'] for i in range(df3.shape[0])]
for i in range(df3.shape[0]):
    if i%2 == 1:
        newvar[i] = np.nan
df3['Variables'] = newvar
def rep(var):
    try:
        return var.replace('_', '\_')
    except:
        return np.nan
df3['Variables'] = df3.apply(lambda row: rep(row['Variables']), axis=1)
df3

               var        val        Variables
0         computer      Coef.         computer
1         computer  Std. Err.              NaN
2    computer_miss      Coef.   computer\_miss
3    computer_miss  Std. Err.              NaN
4         nomwoven      Coef.         nomwoven
5         nomwoven  Std. Err.              NaN
6      mwoven_miss      Coef.     mwoven\_miss
7      mwoven_miss  Std. Err.              NaN
8           nocdry      Coef.           nocdry
9           nocdry  Std. Err.              NaN
10       cdry_miss      Coef.       cdry\_miss
11       cdry_miss  Std. Err.              NaN
12            male      Coef.             male
13            male  Std. Err.              NaN
14     gender_miss      Coef.     gender\_miss
15     gender_miss  Std. Err.              NaN
16           black      Coef.            black
17           black  Std. Err.              NaN
18             api      Coef.              api
19             api  Std. Err.              NaN
20            hisp      Coef.             hisp
21            hisp  Std. Err.              NaN
22           amind      Coef.            amind
23           amind  Std. Err.              NaN
24       race_miss      Coef.       race\_miss
25       race_miss  Std. Err.              NaN
26    race_unknown      Coef.    race\_unknown
27    race_unknown  Std. Err.              NaN
28       income10k      Coef.        income10k
29       income10k  Std. Err.              NaN
30       income20k      Coef.        income20k
31       income20k  Std. Err.              NaN
32       income50k      Coef.        income50k
33       income50k  Std. Err.              NaN
34       income75k      Coef.        income75k
35       income75k  Std. Err.              NaN
36      income100k      Coef.       income100k
37      income100k  Std. Err.              NaN
38      income200k      Coef.       income200k
39      income200k  Std. Err.              NaN
40      incomehigh      Coef.       incomehigh
41      incomehigh  Std. Err.              NaN
42     income_miss      Coef.     income\_miss
43     income_miss  Std. Err.              NaN
44  income_unknown      Coef.  income\_unknown
45  income_unknown  Std. Err.              NaN
46              hs      Coef.               hs
47              hs  Std. Err.              NaN
48       some_coll      Coef.       some\_coll
49       some_coll  Std. Err.              NaN
50          coll_4      Coef.          coll\_4
51          coll_4  Std. Err.              NaN
52          grad_s      Coef.          grad\_s
53          grad_s  Std. Err.              NaN
54      m_edu_miss      Coef.     m\_edu\_miss
55      m_edu_miss  Std. Err.              NaN
56   m_edu_unknown      Coef.  m\_edu\_unknown
57   m_edu_unknown  Std. Err.              NaN
58           _cons      Coef.           \_cons
59           _cons  Std. Err.              NaN

In [5]:
def find_it(var, val, model):
    try:
        temp = model.loc[model.BYGRADS==var][val].values[0]
        if val == 'Coef.':
            temp1 = model.loc[model.BYGRADS==var]['Std. Err.'].values[0]
            if temp1 == '(omitted)':
                return '0.0000'
            else:
                stderr = float(temp1)
                t_stat = temp/stderr
                if abs(t_stat) > 2.576:
                    return '{0:.4f}'.format(temp) + '***'
                elif abs(t_stat) > 1.960:
                    return '{0:.4f}'.format(temp) + '**'
                elif abs(t_stat) > 1.645:
                    return '{0:.4f}'.format(temp) + '*'
                else:
                    return '{0:.4f}'.format(temp)
        else:
            if temp == '(omitted)':
                return temp
            else:
                return '({0:.4f})'.format(float(temp))
    except:
        return np.nan
df3['(1)'] = df3.apply(lambda row: find_it(row['var'], row['val'], m1), axis=1)
df3['(2)'] = df3.apply(lambda row: find_it(row['var'], row['val'], m2), axis=1)
df3['(3)'] = df3.apply(lambda row: find_it(row['var'], row['val'], m3), axis=1)
df3['(4)'] = df3.apply(lambda row: find_it(row['var'], row['val'], m4), axis=1)
df4 = df3.drop(columns=['var','val'])
df4

          Variables         (1)         (2)         (3)         (4)
0          computer   0.2148***   0.2079***   0.1364***   0.1014***
1               NaN    (0.0142)    (0.0142)    (0.0146)    (0.0144)
2    computer\_miss     -0.0389     -0.0275     -0.0344     -0.0306
3               NaN    (0.0433)    (0.0429)    (0.0428)    (0.0418)
4          nomwoven   -0.0497**     -0.0284      0.0063      0.0170
5               NaN    (0.0196)    (0.0196)    (0.0195)    (0.0192)
6      mwoven\_miss      0.0000      0.0000      0.0000      0.0000
7               NaN   (omitted)   (omitted)   (omitted)   (omitted)
8            nocdry  -0.1286***  -0.1064***     -0.0263      0.0055
9               NaN    (0.0227)    (0.0232)    (0.0234)    (0.0236)
10       cdry\_miss  -0.3895***  -0.3373***  -0.3084***  -0.2488***
11              NaN    (0.0603)    (0.0591)    (0.0602)    (0.0585)
12             male         NaN  -0.1481***         NaN  -0.1537***
13              NaN         NaN    (0.0135)         NaN    (0.0131)
14     gender\_miss         NaN      0.1042         NaN      0.0998
15              NaN         NaN    (0.0681)         NaN    (0.0652)
16            black         NaN  -0.1464***         NaN  -0.1012***
17              NaN         NaN    (0.0239)         NaN    (0.0235)
18              api         NaN   0.2895***         NaN   0.2621***
19              NaN         NaN    (0.0262)         NaN    (0.0266)
20             hisp         NaN  -0.1270***         NaN    -0.0428*
21              NaN         NaN    (0.0217)         NaN    (0.0220)
22            amind         NaN  -0.3266***         NaN  -0.2709***
23              NaN         NaN    (0.0369)         NaN    (0.0358)
24       race\_miss         NaN    -0.1575*         NaN     -0.1015
25              NaN         NaN    (0.0890)         NaN    (0.0872)
26    race\_unknown         NaN  -0.2860***         NaN   -0.2445**
27              NaN         NaN    (0.0993)         NaN    (0.1009)
28        income10k         NaN         NaN  -0.2414***  -0.1844***
29              NaN         NaN         NaN    (0.0278)    (0.0277)
30        income20k         NaN         NaN  -0.1138***  -0.0829***
31              NaN         NaN         NaN    (0.0230)    (0.0224)
32        income50k         NaN         NaN   0.1105***   0.0657***
33              NaN         NaN         NaN    (0.0201)    (0.0197)
34        income75k         NaN         NaN   0.2051***   0.1085***
35              NaN         NaN         NaN    (0.0222)    (0.0220)
36       income100k         NaN         NaN   0.3316***   0.1824***
37              NaN         NaN         NaN    (0.0334)    (0.0331)
38       income200k         NaN         NaN   0.3043***   0.1551***
39              NaN         NaN         NaN    (0.0336)    (0.0335)
40       incomehigh         NaN         NaN   0.3589***   0.1885***
41              NaN         NaN         NaN    (0.0458)    (0.0463)
42     income\_miss         NaN         NaN     -0.0223     -0.0379
43              NaN         NaN         NaN    (0.0268)    (0.0259)
44  income\_unknown         NaN         NaN      0.0000      0.0000
45              NaN         NaN         NaN   (omitted)   (omitted)
46               hs         NaN         NaN         NaN   0.1193***
47              NaN         NaN         NaN         NaN    (0.0222)
48       some\_coll         NaN         NaN         NaN   0.2855***
49              NaN         NaN         NaN         NaN    (0.0245)
50          coll\_4         NaN         NaN         NaN   0.3553***
51              NaN         NaN         NaN         NaN    (0.0269)
52          grad\_s         NaN         NaN         NaN   0.4032***
53              NaN         NaN         NaN         NaN    (0.0296)
54     m\_edu\_miss         NaN         NaN         NaN     -0.0858
55              NaN         NaN         NaN         NaN    (0.1013)
56  m\_edu\_unknown         NaN         NaN         NaN      0.0421
57              NaN         NaN         NaN         NaN    (0.0276)
58           \_cons   2.9237***   3.0103***   2.8995***   2.8304***
59              NaN    (0.0107)    (0.0126)    (0.0150)    (0.0241)

In [6]:
df4.to_csv('9443HW1.csv',encoding='utf-8', index=None)